<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Identicons</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Identicons</h1>
            <h2>Shields v1 (stable)</h2>
            <div id="shields"></div>
            <h2>Shapes v0 (unstable)</h2>
            <div id="shapes"></div>
        </div>

        <script>
         const shieldContainer = document.querySelector('#shields');
         const shapeContainer = document.querySelector('#shapes');

         for (let i = 0; i < 4; i++) {
             const r = Math.floor(Math.random() * Math.pow(36, 6)).toString(36).toUpperCase();

             // shield
             const shieldUrl = `/i/shield/v1/${r}.svg`;
             let link = document.createElement('a');
             link.setAttribute('href', shieldUrl);
             let img = document.createElement('img');
             img.setAttribute('src', shieldUrl);
             link.appendChild(img);
             shieldContainer.appendChild(link);

             // shape
             const shapeUrl = `/i/shape/v0/${r}.svg`;
             link = document.createElement('a');
             link.setAttribute('href', shapeUrl);
             img = document.createElement('img');
             img.setAttribute('src', shapeUrl);
             link.appendChild(img);
             shapeContainer.appendChild(link);
         }
        </script>
    </body>
</html>
