<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" width="200" height="200">
    <g filter="url(#shadow)">
        <defs>
            <filter id="shadow">
                <feDropShadow dx="0.01" dy="0.01" flood-opacity="0.2" stdDeviation="0.01" />
            </filter>
        </defs>
        <g>
            {% if icon.shape == "Circle" %}
            <circle
                    cx="0.5"
                    cy="0.5"
                    r="0.45"
                    fill="{{ icon.fill_color | css }}"
                    stroke="{{ icon.border_color | css }}"
                    stroke-width="0.02"
                />
            {% elif icon.shape.Polygon %}
            <polygon
                    points="{% for point in points %}{{ point.0 }},{{ point.1 }} {% endfor %}"
                    fill="{{ icon.fill_color | css }}"
                    stroke="{{ icon.border_color | css }}"
                    stroke-width="0.02"
                />
            {% endif %}

            <text
                fill="#fff"
                font-family="serif"
                font-size="0.48"
                font-weight="bold"
                text-anchor="middle"
                x="0.50"
                y="0.72"
            >
                {{ icon.emoji }}
            </text>
        </g>
    </g>
</svg>
